/* nav {
    display: flex;
    position: fixed;
} */

.navbar-brand {
    height: 100px;
    width: 100px;
}

#navbarMenu {
    font-size: 20px;
}

h1 {
    font-size: 48px;
}

header {
    color: white;
    padding-top: 7rem;
    padding-bottom: 7rem;
    background-size: cover;
    background-position: center;
    background-color: #0084af;
}

header h1 {
    font-size: 4rem;
}

header h2 {
    font-size: 1.5rem;
}

main h3 {
    font-size: 60px;
}

main .row {
    padding-top: 3rem;
}

footer {
    background-color: black;
    background-size: cover;
    padding-left: 3rem;
    color: white;
}