/* body {
    font-family: "Rubik";
} */

#navigator {
    background-color: hsl(129, 28%, 29%);
    box-shadow: 0px 1.5px 8px black;
}

.navbar-brand {
    height: 100px;
    width: 100px;
}

#navbarMenu {
    font-size: 18px;
    letter-spacing: .7px;
    /* text-transform: uppercase; */
    font-weight: 500;
}

#nav-title {
    padding-left: 0;
    padding-top: 20px;
    color: white;
    font-size: 1rem;
}

h1 {
    font-size: 48px;
}

header h1 {
    font-size: 4rem;
    font-weight: bold;
}

header h2 {
    font-size: 1.5rem;
    font-weight: 300;
}

main .row {
    padding-top: 3rem;
}

header .col {
    padding-top: 5rem;
}


/* 这里要解决自动换行的问题 */

.welcome-header {
    color: white;
    padding: 10rem 5rem;
    background-size: 100% 100%;
    background-position: center;
    background-color: #0084af;
    background-image: url("../img/title-background.jpg");
    height: fit-content;
    top: -5%;
    left: 0;
}

footer {
    background-color: rgb(31, 44, 87);
    background-size: cover;
    padding-left: 3rem;
    padding-top: 2.5rem;
    padding-bottom: 2.5rem;
    color: white;
}


/*footer div {
    transform: rotate(2deg);
}*/

main h3 {
    font-size: 2rem;
    color: hsl(128, 63%, 26%);
    font-weight: 750;
    text-transform: uppercase;
}

main p {
    font-size: 1.2rem;
    font-weight: 400;
}

#left-content {
    padding-right: 10%;
}

#right-content {
    padding-left: 10%;
}

.main-header {
    background-image: none;
    background-color: white;
    color: black;
    margin: 5pt;
    margin-top: 150pt;
    text-align: center;
}

.main-header h2 {
    font-size: 2.5rem;
    font-weight: 400;
}

.search-bar {
    margin-left: 35pt;
    margin-right: 35pt;
    margin-top: 50pt;
    margin-bottom: 0;
}